# port

PORT=

# Database

MONGODB_NAME=
MONGODB_CONNECTION_STRING=

# better auth

BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # Base URL of your app

# cloudinary 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

# Google

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# openAI 

OPENAI_API_KEY=

# qdrant 

QDRANT_URL=
QDRANT_API_KEY=

# firecrawl 

FIRECRAWL_API_KEY=

# convertAPI

CONVERT_API_TOKEN=

# resend

RESEND_API_KEY=



